#container
	padding 20px
	box-shadow 0 0 15px #888

h1
	text-align: center
	text-transform: uppercase

label
	padding 5px 5px 5px 7px
	margin-bottom 0

.table
	margin-bottom 0

.table td
	vertical-align text-bottom

td:last-child, td:first-child
	width 14px

input.edit
	display none
	margin-bottom 0

.editing input.edit
	display: block

.editing label
	display none

.completed	label
	color #ccc
	text-decoration line-through
