<td>
	<input class="toggle" type="checkbox" {{#if completed}}checked{{/if}}>
</td>
<td>
	<label>{{title}}</label><input type="text" class="edit" value="{{title}}">
</td>
<td>
	<i class="icon-remove destroy"></i>
</td>
